
  <div id="nav" ng-include="'views/userTemplates/nav.html'"></div>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a>
                    <h2 class="post-title">
                        Extract Data From any Website 
                    </h2>  </a>
                    <h3 class="post-subtitle">
                        Using Web Scraper you can create model file that will navigate the site and extract the data.
                         Using different type selectors the Web Scraper will navigate
                          the site and extract multiple types of data - text, links and more.
                    </h3>

                <!--<p class="post-meta">Posted by <a href="#">Start GE Web Scraper</a> on September 24, 2014</p>-->
            </div>
            <hr>
            <!--<div class="post-preview">
                <a >
                    <h2 class="post-title">
                        Built for the modern web                    </h2> </a>
                    <h3 class="post-subtitle">
                        Unlike other scraping tools that extract data only from HTML Web
                         Scraper can also extract data that is loaded or generated dynamically 
                         with JavaScript. Web Scraper can:
                    <ul>
                        <li>
                            Wait for dynamic data to be loaded in the page
                        </li>
                        <li>
                            Click on pagination buttons that load data via AJAX
                        </li>
                        <li>
                            Click on buttons to load more data
                        </li>
                        <li>
                            Scroll down the page to load more data
                        </li>
                    </ul>
                    </h3>

                <p class="post-meta">Posted by <a href="#">Start GE Web Scraper</a> on September 18, 2014</p>
            </div>-->
            <hr>
            <div class="post-preview">
                <a>
                    <h2 class="post-title">
                        Export data in CSV, JSON, EXCEL, XML format.                   </h2> </a>
                    <h3 class="post-subtitle">
                        The Web Scrapper is a standalone chrome extension. 
                        Sitemap building, data extraction and export are all done within browser. After scraping your site you can download the data in CSV format. For advanced use cases you might want to try saving the data into CouchDB.                    </h3>

                <!--<p class="post-meta">Posted by <a href="#">Start GE Web Scraper</a> on August 24, 2014</p>-->
            </div>
            <hr>
       <div class="post-preview">
                <a >
                    <h2 class="post-title">
                       Keep Your Data Private               </h2> </a>
                    <h3 class="post-subtitle">
                  GE Web Scraper never sells your data.
  GE Web Scraper never shares your data.
  Your data is protected and safe.   GE Web Scraper  uses HTTPS encryption to protect your privacy and security.
           
                    </h3>

                <!--<p class="post-meta">Posted by <a href="#">Start GE Web Scraper</a> on September 18, 2014</p>-->
            </div>
      <div class="post-preview">
                <a >
                    <h2 class="post-title">
                    
            Scrape With One Click No coding required!          </h2> </a>
                    <h3 class="post-subtitle">
                All you need is request for your data, and the data will reach you on your email as soon as it is done.
                </h3>

                <!--<p class="post-meta">Posted by <a href="#">Start GE Web Scraper</a> on September 18, 2014</p>-->
            </div>


            <hr>
      <div class="post-preview">
                <a >
                    <h2 class="post-title">
                    
            Easy & graphic app interface    </h2> </a>
                    <h3 class="post-subtitle">
                Open a website of your choice and start clicking around. 
                It’s that easy! You don’t need to code at all.

Our machine learning relationship engine does the magic for you.
 We screen the page and understand the hierarchy of elements. 
 You'll see the data pulled in seconds. 
                </h3>

                <!--<p class="post-meta">Posted by <a href="#">Start GE Web Scraper</a> on September 18, 2014</p>-->
            </div>


            <hr>
           
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a  ui-sref="app.Start">Learn How To Use &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
  <div id="nav" ng-include="'views/userTemplates/footer.html'"></div>
