

<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid"  style="margin-right: 47px;margin-left: 47px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" ui-sref="app.Start">Start GE Web Scraper</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-sref="app.Index" translate="userApp.Home"></a>
                </li>
                <li>
                    <a ui-sref="app.About"  translate="userApp.About"></a>
                </li>
                <li>
                    <a ui-sref="app.Services"  translate="userApp.Services"></a>
                </li>
                <li>
                    <a ui-sref="app.Contact"  translate="userApp.Contact"></a>
                </li>
                <li>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../../images/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>GE Web Scraper</h1>
                    <hr class="small">
                    <span class="subheading">Amazing Web Scraping Tool</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a>
                    <h2 class="post-title">
                        Extract data from dynamic web pages
                    </h2>  </a>
                    <h3 class="post-subtitle">
                        Using Web Scraper you can create model file that will navigate the site and extract the data. Using different type selectors the Web Scraper will navigate the site and extract multiple types of data - text, links and more.
                    </h3>

                <p class="post-meta">Posted by <a href="#">Start GE Web Scraper</a> on September 24, 2014</p>
            </div>
            <hr>
            <div class="post-preview">
                <a >
                    <h2 class="post-title">
                        Built for the modern web                    </h2> </a>
                    <h3 class="post-subtitle">
                        Unlike other scraping tools that extract data only from HTML Web Scraper can also extract data that is loaded or generated dynamically with JavaScript. Web Scraper can:
                    <ul>
                        <li>

                            Wait for dynamic data to be loaded in the page

                        </li>
                        <li>

                            Click on pagination buttons that load data via AJAX

                        </li>
                        <li>

                            Click on buttons to load more data

                        </li>
                        <li>

                            Scroll down the page to load more data

                        </li>
                    </ul>
                    </h3>

                <p class="post-meta">Posted by <a href="#">Start GE Web Scraper</a> on September 18, 2014</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Export data in CSV format or store it in CouchDB                    </h2> </a>
                    <h3 class="post-subtitle">
                        The Web Scrapper is a standalone chrome extension. Sitemap building, data extraction and export are all done within browser. After scraping your site you can download the data in CSV format. For advanced use cases you might want to try saving the data into CouchDB.                    </h3>

                <p class="post-meta">Posted by <a href="#">Start GE Web Scraper</a> on August 24, 2014</p>
            </div>
            <hr>

            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
            </div>
        </div>
    </div>
</footer>