

<!-- Navigation -->
  <!--<div id="nav" ng-include="'views/userTemplates/nav.html'"></div>-->






<!--extracted data-->
<div class="panel panel-default table-responsive">
    <div class="panel-heading" ng-class="{'dir-rtl': app.setting.rtl}">
        <h2 translate="extracted.listPage.title"></h2>

    </div>
    <table ng-table="extractedDataTable" class="table table-striped table-vmiddle table-hover table-condensed"
           ng-class="{'rtl': app.setting.rtl}" template-pagination="views/templates/ng-table-pager-template.html">
        <thead>
        <tr>
            <!--<th>-->
            <!--<div class="md-form-group float-label"><input class="md-input" ng-model="filter.name"/> <label-->
            <!--&gt;File Name</label></div>-->
            <!--</th>-->
            <th>File Name</th>
            <!--<th>File Url</th>-->
            <th>Records</th>
            <th>Date</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $data" ng-if="$data.length" >
            <td>{{row.scrapeRequest.model.fileName}}</td>
            <!--<a> <td>{{row.url}}</td> </a>-->
            <td>{{row.maxRecords}}</td>
            <td>{{row.date}}</td>

            <td>
                <md-button ng-if="currentUser.permissions.extracted.remove"
                           type="button"
                           class="md-raised red-500"
                           ng-click="removeExtractedData(row)"><i
                        class="mdi mdi-content-block"></i></md-button>
            </td>
        </tr>
        <tr ng-if="!$data.length && !isLoading && !isError">
            <td class="no-data-cell" colspan="3" translate="extracted.listPage.noData"></td>
        </tr>
        <tr ng-if="isLoading">
            <td class="no-data-cell" colspan="3" translate="global.loadingData"></td>
        </tr>
        <tr ng-if="isError">
            <td class="no-data-cell" colspan="3" translate="global.errorData"></td>
        </tr>
        </tbody>
    </table>
</div>





<!-- Footer -->
  <div id="nav" ng-include="'views/userTemplates/footer.html'"></div>
