<div layout="column" class="card" ng-class="{'rtl': app.setting.rtl}">
    <div class="card-heading">
        <h2>Make Requst</h2>
    </div>

    <md-content layout-padding>
        <form name="requesForm" ng-class="{'rtl': app.setting.rtl}" novalidate disable-on-loading="isLoading">


            <md-input-container class="md-block" >
              <h5>Choose from Templete Files</h5>
                <md-select name="temptModel" ng-model="request.temptModel" class="md-default-theme" style="width: 100%"
                           ng-class="{'pull-right': app.setting.rtl, 'pull-left': !app.setting.rtl}">
                    <md-option ng-repeat="temptModel in temptModels" ng-value="temptModel">
                        {{temptModel.fileName}}
                        <p>
                            <small>
                                {{temptModel.desc}}
                            </small>
                        </p>



                    </md-option>
                </md-select>
            </md-input-container>


            <md-input-container class="md-block" >
                <h5>Choose from your files</h5>
                <md-select name="requestModel" ng-model="request.requestModel" class="md-default-theme" style="width: 100%"
                           ng-class="{'pull-right': app.setting.rtl, 'pull-left': !app.setting.rtl}">
                    <md-option ng-repeat="requestModel in requestModels" ng-value="requestModel">

                       {{requestModel.fileName}}
                        <p>
                        <small>
                          {{requestModel.desc}}
                        </small>
                        </p>

                    </md-option>
                </md-select>
            </md-input-container>



            <md-input-container class="md-block">
                <label translate="request.maxRecords"></label>
                <input name="maxRecords" ng-model="request.maxRecords">

            </md-input-container>

            <!--<md-input-container class="md-block">-->
                <!--<label translate="request.maxItemsPerPage"></label>-->
                <!--<input name="maxItemsPerPage" ng-model="request.maxItemsPerPage">-->

            <!--</md-input-container>-->

            <md-input-container>
                <md-button class="md-raised md-primary" translate="request.actions.save" ng-click="saveRequest()"></md-button>
            </md-input-container>
        </form>
    </md-content>
</div>


