<div layout="column" class="card" ng-class="{'rtl': app.setting.rtl}">
    <div class="card-heading">
        <h2>Add Model File</h2>
    </div>
    <md-content layout-padding>

        <form name="modelFilesForm" ng-class="{'rtl': app.setting.rtl}" novalidate disable-on-loading="isLoading">
            <md-input-container class="md-block">
                <label translate="modelFiles.fileName"></label>
                <input required name="fileName" ng-model="modelFile.fileName" auto-focus ng-readonly="!isNew">
                <!--<div ng-messages="modelFilesForm.userName.$error">-->
                    <!--<div ng-message="required">{{"user.errors.username.required" | translate}}</div>-->
                <!--</div>-->
            </md-input-container>

            <md-input-container class="md-block" >
                <h5>Choose The Category</h5>
                <md-select name="category" ng-model="modelFile.category"

                           class="md-default-theme" style="width: 100%"
                           ng-class="{'pull-right': app.setting.rtl, 'pull-left': !app.setting.rtl}">
                    <md-option ng-repeat="category in categories"
                               ng-value="category">

                        {{category.categoryName}}


                    </md-option>
                </md-select>
            </md-input-container>


            <md-input-container class="md-block">
                <label translate="modelFiles.url"></label>
                <input required name="url" ng-model="modelFile.url" auto-focus ng-readonly="!isNew">
                <!--<div ng-messages="modelFilesForm.userName.$error">-->
                <!--<div ng-message="required">{{"user.errors.username.required" | translate}}</div>-->
                <!--</div>-->
            </md-input-container>
            <md-input-container class="md-block">
                <label translate="modelFiles.desc"></label>
                <input  name="desc" ng-model="modelFile.desc" auto-focus ng-readonly="!isNew">

            </md-input-container>
            <md-container>
                <button  class="md-raised md-primary" ngf-select="uploadFiles($files, $invalidFiles)" multiple>
                    <!--<button ngf-select="uploadFiles($files, $invalidFiles)" multiple-->
                    <!--ngf-max-height="1000" ngf-max-size="1MB">-->
                    Select Files</button>
                <!--<ul>-->
                <span ng-repeat="f in files" style="font:smaller" name ="file">
                        {{f.name}} {{f.$errorParam}}

                    </span>

                {{errorMsg}}


            </md-container>




             <md-input-container>
                <md-button class="md-raised md-primary" translate="modelFiles.actions.save" ng-click="saveModelFile()"></md-button>
            </md-input-container>
        </form>





</div>