<div class="panel panel-default table-responsive">
    <div class="panel-heading" ng-class="{'dir-rtl': app.setting.rtl}">
        <h2 translate="modelFiles.listPage.title"></h2>
        <md-button ng-if="currentUser.permissions.modelFiles.edit" class="md-raised md-primary"
                   ng-class="{'pull-right': !app.setting.rtl, 'pull-left': app.setting.rtl}"
                   translate="modelFiles.actions.new"
                   ui-sref="app.modelFile({ modelFileId: 'new' })"></md-button>
    </div>
    <table ng-table="modelFilesTable" class="table table-striped table-vmiddle table-hover table-condensed"
           ng-class="{'rtl': app.setting.rtl}" template-pagination="views/templates/ng-table-pager-template.html">
        <thead>
        <tr>
            <!--<th>-->
                <!--<div class="md-form-group float-label"><input class="md-input" ng-model="filter.name"/> <label-->
                <!--&gt;File Name</label></div>-->
            <!--</th>-->
            <th>File Name</th>
            <th>File Description</th>
            <th>Category</th>
            <th>Website Url          </th>
              <th>User</th>
            <th>Deleted</th>
          
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $data" ng-if="$data.length" >
            <td >{{row.fileName}}</td>
            <td >{{row.desc}}</td>

            <td>{{row.category.categoryName}}</td>
         
<td >{{row.url}}</td>

            <td >{{row.user.firstName}}</td>
               <td >{{row.deleted}}</td>
            <td>
                <md-button ng-if="currentUser.permissions.modelFiles.edit" type="button" 
                class="md-raised red-500"
                           ng-click="remove(row)"><i
                        class="mdi mdi-content-block"></i></md-button>
            </td>
        </tr>
        <tr ng-if="!$data.length && !isLoading && !isError">
            <td class="no-data-cell" colspan="3" translate="modelFiles.listPage.noData"></td>
        </tr>
        <tr ng-if="isLoading">
            <td class="no-data-cell" colspan="3" translate="global.loadingData"></td>
        </tr>
        <tr ng-if="isError">
            <td class="no-data-cell" colspan="3" translate="global.errorData"></td>
        </tr>
        </tbody>
    </table>
</div>

  <div id="nav" ng-include="'views/userTemplates/footer.html'"></div>
