

<div class="row row-sm">
  <div class="col-sm-12">
    <div class="panel panel-card">
      <div class="r-t pos-rlt" md-ink-ripple style="background:url('../../images/img/home-bg.jpg') center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center r-t" >
          <a href class="w-xs inline">
            <img src="images/a0.jpg" class="img-circle img-responsive">
          </a>
          <div class="m-b m-t-sm h2">
            <span class="">{{currentUser.firstName}}.</span>
          </div>
          <a ui-sref = "app.editUser" class="btn btn-sm btn-success m-b p-h no-border blue">
            Edit
          </a>
          <p>
           add new model file from the button below
          </p>
        </div>
      </div>
      <div class="list-group no-radius no-border" style="padding-right: 333px;padding-left: 333px;">
        <a class="list-group-item" ui-sref="app.myModels">
          <span class="pull-right badge" >{{allModels}}</span>All Model Files
        </a>
        <a class="list-group-item" ui-sref="app.myRequests">
          <span class="pull-right badge">{{requested}}</span>Requested Model Files
        </a>
        <a class="list-group-item" ui-sref="app.myData">
          <span class="pull-right badge">{{extracted}}</span>Extracted Model Files
        </a>
        <a class="list-group-item">
          <span class="pull-right badge">
            {{currentUser.userPackage.packageName}}</span>
          Your Package
        </a>

        

      </div>
      <div class="text-center b-b b-light">
        <a ui-sref="app.Request" class="inline m text-color">
          <span class="text-xs">Make</span>
          <em class="h3 block font-bold">Request</em>

        </a>
        <a ui-sref="app.Models" class="inline m text-color">
          <span class="text-xs">See</span>
          <em class="h3 block font-bold">Files</em>

        </a>
      </div>

    </div>
  </div>

</div>

<!-- Footer -->
  <div id="nav" ng-include="'views/userTemplates/footer.html'"></div>
