<div layout="column" class="card" ng-class="{'rtl': app.setting.rtl}">
    <div class="card-heading">
        <h2>Add Package</h2>
    </div>
    <md-content layout-padding>

        <form name="userPackageForm" ng-class="{'rtl': app.setting.rtl}" novalidate disable-on-loading="isLoading">
            <md-input-container class="md-block">
                <label translate="userPackage.packageName"></label>
                <input required name="packageName" ng-model="userPackage.packageName" auto-focus>
            </md-input-container>

            <md-input-container class="md-block">
                <label translate="userPackage.maxRecords"></label>
                <input required type="number" name="maxRecords" ng-model="userPackage.maxRecords">
            </md-input-container>

            <md-input-container class="md-block">
                <label translate="userPackage.totalPrice"></label>
                <input required type="number" name="totalPrice" ng-model="userPackage.totalPrice">
            </md-input-container>

            <md-input-container>
                <md-button class="md-raised md-primary" translate="userPackage.actions.save"
                           ng-click="saveUserPackage()"></md-button>
            </md-input-container>
        </form>

</div>