<div class="box bg-white">
  <div class="navbar md-whiteframe-z1 no-radius" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
      <!-- brand -->
      <a class="navbar-brand" ng-class="{'rtl': app.setting.rtl}">
        <img src="images/small-logo.png" alt="{{app.name}}" class="small-logo">
        <span class="hidden-folded inline" ng-class="{'m-l': !app.setting.rtl, 'm-r': app.setting.rtl}">{{app.name}}</span>
      </a>
      <!-- / brand -->
  </div>
  <div class="box-row">
    <div class="box-cell scrollable hover">
      <div class="box-inner">
        <div class="p hidden-folded" ng-class="$state.current.data.theme ? $state.current.data.theme.primary+'-50' : app.setting.theme.primary+'-50'" style="background-image:url(images/bg.png); background-size:cover">
          <a class="block m-t-sm" ui-toggle-class="hide, show" target="#nav, #account">
            <span class="block font-bold">{{currentUser.username}}</span>
            <span class="pull-right auto">
              <i class="fa inline fa-caret-down"></i>
              <i class="fa none fa-caret-up"></i>
            </span>
            {{currentUser.email}}
          </a>
        </div>
        <div id="nav" ng-include="'views/templates/aside-nav.html'"></div>
        <div id="account" class="hide m-v-xs">
          <nav>
            <ul class="nav" ng-class="{'rtl': app.setting.rtl}">
              <li>
                <a md-ink-ripple ui-sref="app.profile" ng-class="{'rtl': app.setting.rtl}">
                  <i class="icon mdi-action-perm-contact-cal i-20"></i>
                  <span translate="aside.profile"></span>
                </a>
              </li>
              <li>
                <a md-ink-ripple ng-click="logout()" ng-class="{'rtl': app.setting.rtl}">
                  <i class="icon mdi-action-exit-to-app i-20"></i>
                  <span translate="aside.logout"></span>
                </a>
              </li>
              <li class="m-v-sm b-b b"></li>
              <li>
                <a md-ink-ripple ng-click="toggleFullscreen()" ng-class="{'rtl': app.setting.rtl}">
                  <i class="icon mdi-navigation-fullscreen i-24"></i>
                  <span translate="aside.fullscreen"></span>
                </a>
              </li>
              <li>
                <div class="nav-item" ng-class="{'rtl': app.setting.rtl}">
                  <label class="md-check">
                    <input type="checkbox" ng-model="app.setting.asideFolded">
                    <i class="{{app.setting.theme.accent}} no-icon"></i>
                    <span class="hidden-folded" translate="aside.fold"></span>
                  </label>
                </div>
              </li>
              <li>
                <div class="nav-item" ng-class="{'rtl': app.setting.rtl}">
                  <i class="icon fa fa-language i-24"></i>
                  <lang-selector></lang-selector>
                </div>
              </li>
              <li class="p p-v-sm hidden-folded">
                <div class="m-b-sm" translate="aside.themes"></div>
                <div>
                  <div class="pointer box m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'indigo', accent: 'green', warn: 'amber'}" ng-class="{'pull-right m-l-sm': app.setting.rtl, 'pull-left m-r-sm': !app.setting.rtl}">
                    <span class="indigo col-xs-4 box-col"></span>
                    <span class="green col-xs-4 box-col"></span>
                    <span class="amber col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'green', accent: 'light-green', warn: 'lime'}" ng-class="{'pull-right m-l-sm': app.setting.rtl, 'pull-left m-r-sm': !app.setting.rtl}">
                    <span class="green col-xs-4 box-col"></span>
                    <span class="light-green col-xs-4 box-col"></span>
                    <span class="lime col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'deep-purple', accent: 'blue', warn: 'light-blue'}" ng-class="{'pull-right m-l-sm': app.setting.rtl, 'pull-left m-r-sm': !app.setting.rtl}">
                    <span class="deep-purple col-xs-4 box-col"></span>
                    <span class="blue col-xs-4 box-col"></span>
                    <span class="light-blue col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'blue', accent: 'indigo', warn: 'amber'}" ng-class="{'pull-right m-l-sm': app.setting.rtl, 'pull-left m-r-sm': !app.setting.rtl}">
                    <span class="blue col-xs-4 box-col"></span>
                    <span class="indigo col-xs-4 box-col"></span>
                    <span class="amber col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'cyan', accent: 'teal', warn: 'green'}" ng-class="{'pull-right m-l-sm': app.setting.rtl, 'pull-left m-r-sm': !app.setting.rtl}">
                    <span class="cyan col-xs-4 box-col"></span>
                    <span class="teal col-xs-4 box-col"></span>
                    <span class="green col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'pink', accent: 'deep-purple', warn: 'purple'}" ng-class="{'pull-right m-l-sm': app.setting.rtl, 'pull-left m-r-sm': !app.setting.rtl}">
                    <span class="pink col-xs-4 box-col"></span>
                    <span class="deep-purple col-xs-4 box-col"></span>
                    <span class="purple col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'blue-grey', accent: 'teal-200', warn: 'lime'}" ng-class="{'pull-right m-l-sm': app.setting.rtl, 'pull-left m-r-sm': !app.setting.rtl}">
                    <span class="blue-grey col-xs-4 box-col"></span>
                    <span class="teal-200 col-xs-4 box-col"></span>
                    <span class="lime col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'bg-dark', accent: 'green-300', warn: 'amber-300'}" ng-class="{'pull-right m-l-sm': app.setting.rtl, 'pull-left m-r-sm': !app.setting.rtl}">
                    <span class="bg-dark col-xs-4 box-col"></span>
                    <span class="green-300 col-xs-4 box-col"></span>
                    <span class="amber-300 col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'bg-white', accent: 'green', warn: 'teal'}" ng-class="{'pull-right m-l-sm': app.setting.rtl, 'pull-left m-r-sm': !app.setting.rtl}">
                    <span class="bg-white col-xs-4 box-col"></span>
                    <span class="green col-xs-4 box-col"></span>
                    <span class="teal col-xs-4 box-col"></span>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
